* {
    box-sizing: border-box;
}

.card--country {
    display: flex;
    gap: 20px;
}

.card {
    width: 471px;
    height: 168px;
    left: 39px;
    top: 304px;
}

.card>img {
    width: 100%;
    height: 230px;
    left: 40px;
    top: 100px;
    border-radius: 5px;
}

.main {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 300px;
    padding: 30px 30px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: #F55A5A;
    margin: 0;
}

.nav > h1 {
    color: #FFF;
}

.IoEarth{
    width:70px ;
    height:30px ;
}