* {
    box-sizing: border-box;
}

.card--country {
    display: flex;
    gap: 20px;
}

.card {
    width: 471px;
    height: 168px;
    left: 39px;
    top: 304px;
}

.card>img {
    width: 125px;
    height: 168px;
    left: 40px;
    top: 100px;
    border-radius: 5px;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 245px;
}